@page
@model PaoloModel
@{
    ViewData["Paolo"] = "Paolo Gaya";
}

<div class="text-center">
    <h1 class="display-4">Soy Paolo Gaya</h1>
    <img src="imagenes/Screenshot 2025-02-27 124511.png">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
