@page
@model SalvadorModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Salvador Ancer</h1>
    <h2> Guardian de Base de Datos </h2>
    <img src ="~/ImgS/Fotika.JPG">
</div>
