@page
@model SantiModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="~/images/santipa.jpeg" class="img-fluid" alt="Monterrey">
    <h1 class="display-4">Santiago Paredes Suarez</h1>
    <p>Arquero deployed front end </p>
</div>
